<div class='container' id='container'>
    <button class="sidebar-shower" ng-show="!sidebar.isVisible" type="button" ng-click="sidebar.toggle()">SHOW</button>
    <button class="sidebar-hider" ng-show="sidebar.isVisible" type="button" ng-click="sidebar.toggle()">HIDE</button>
    <div class='post-wrapper'>
        <h1>SIDEBAR PAGE</h1>

        <div>
            <test-sidebar />
        </div>

        <!--Button to trigger a default aside with a scope as an object {title:'', content:'', etc.}-->
        <button type="button" class="btn btn-lg btn-primary" ng-click="sidebar.toggle()">Click to toggle aside
            <br>
            <small>(using a directive)</small>
        </button>

        <!-- You can use a custom html template with the `data-template` attr -->
        <button type="button" class="btn btn-lg btn-danger" data-template-url="partials/sidebar.html" data-placement="left" data-animation="am-slide-left" bs-aside="aside" data-container="body">Custom aside
            <br>
            <small>(using data-template)</small>
        </button>

         <!--Button to trigger a default modal with a scope as an object {title:'', content:'', etc.}-->
        <!--<button type="button" class="btn btn-lg btn-primary" data-animation="am-fade-and-scale" data-placement="center" bs-modal="modal">Click to toggle modal-->
        <!--<br>-->
        <!--<small>(using an object)</small>-->
        <!--</button>-->

        <!--&lt;!&ndash; Button to trigger a default alert with a scope as an object {title:'', content:'', etc.} &ndash;&gt;-->
        <!--<button class="btn btn-lg btn-primary" data-placement="top-right" data-container="body" data-duration="3" bs-alert="alert">Click to toggle alert-->
        <!--<br>-->
        <!--<small>(using an object)</small>-->
        <!--</button>-->

        <!-- You can use a custom html template with the `data-template` attr -->
        <!--<button type="button" class="btn btn-lg btn-danger" data-animation="am-fade-and-slide-top" data-template-url="partials/sidebar.html" bs-aside="aside">Custom Modal-->
        <!--<br>-->
        <!--<small>(using data-template)</small>-->
        <!--</button>-->

        <!--&lt;!&ndash; Button to trigger a default aside with a scope as an object {title:'', content:'', etc.} &ndash;&gt;-->
        <!--<button type="button" class="btn btn-lg btn-primary" bs-aside="aside">Click to toggle aside-->
        <!--<br>-->
        <!--<small>(using an object)</small>-->
        <!--</button>-->
    </div>
</div>
